*.suo
*.user
bin/
obj/
packages/
/NuGet.exe
*.nupkg
/doc/LastBuild.log
/doc/fti
/doc/html
/doc/icons
/doc/scripts
/doc/styles
/doc/toc
/doc/index.html
/doc/search.html
/doc/SearchHelp.aspx
/doc/SearchHelp.inc.php
/doc/SearchHelp.php
/doc/Web.Config
/doc/WebKI.xml
/doc/WebTOC.xml
